

.mainContainer{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 80vh;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: minmax(80px, auto)repeat(5, 80px);

}
.mainContainer > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
}

.digit:hover {
    background-color: rgb(55, 94, 121);
}
.op:hover{
    background-color: rgb(147, 156, 59);
}
.clear{
    grid-column: span 2;
    
}
.equal{
    grid-column: span 2;
}
.clear:hover{
    background-color: rgb(160, 55, 37);
}
.delete:hover{
    background-color: rgb(160, 55, 37);
}
.equal:hover{
    background-color: rgb(74, 153, 42);
}

.displayContainer{
    grid-column: 1 / -1;
    background-color: rgba(3, 2, 2, 0.75);
    color: white;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    border: 1px solid black;
    word-wrap: break-word;
    word-break: break-all;
}

.activeDisplay{
    
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 2rem;
    font-weight: bold;
    padding: 10px;

}

body{
    background-color: #00AAFF;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    
}

h1,footer{
    text-align: center;
    margin: 0;
}

